{
  "linters": {
    "*.{js,jsx,ts,tsx,css}": [
      "prettier --write",
      "git add"
    ],
    "*.{js,jsx,ts,tsx}": [
      "eslint src --fix",
      "git add"
    ],
    "*.css": [
      "stylelint src/**/*.css --fix",
      "git add"
    ]
  }
}
